@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

:root{
    --background : #fffce9;
    --bandeau: #02361f;
    --middle-color-transition:#012414;
    --vert_opcacity_faible: #02361f73;
    --color3: #1c1b1b;
    --color4: #ffffff;
    --hauteur-menu: 50px;
    --heading-font-style: normal;
    --text-header: #fffce9;
    --text-color: #02361f;
    --text-color-light: #ef1818;
    --border-color: #d9decb;
    --button-background: #03361e;
    --header-background: #1c1b1b;
    --font-header: 'Train One', cursive;


}

*{
    /* border-width : 0.1px;
    border-style : solid;
    border-color : #ff9696; */
    padding : 0px;
    margin : 0px;
    }

.bandeau{
  color: var(--color4);
  text-decoration:none;
  background: var(--bandeau);
  display: block;
  /* position: fixed; */ 
  /*il faut le mettre en fixed pour que le menu ne bouge pas quand on scroll mais ça ne marche pas */
  width: 100%;
  box-shadow:0px 0px 12px rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.bandeau:hover{
  color: var(--color4);
  background: var(--header-background);
  animation: bandeau-color 0.2s;
}

@keyframes bandeau-color {
  0%{
    background: var(--bandeau);
  }

  50%{
    background: var(--middle-color-transition);
  }

  100%{
    background: var(--header-background);
  }  
}



body{
    font-family: "ProximaNova-Regular", "Helvetica", Arial, sans-serif;
    color: var(--text-color);
    background: var(--background);
    
}

h1{
  font-family: var(--font-header);
  font-size: 3rem;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(61, 255, 164, 0.9);
}


h2{
  padding-left: 5%;
}

.container{
  margin-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

p{
  text-align: justify;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 150%;
  font-size: 1.1em;
}

.image_bio{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image_bio:hover{
  content: 'Text affiche lors du hover';
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.lien_menu{
    text-decoration:none;
    color: var(--color4);
    background: var(--bandeau);
}

.lien_affiche{
  text-decoration: underline;
  color: var(--text-color);
  font-style: italic;
}
.lien_affiche:hover{
  text-shadow: 0px 0px 12px rgba(4, 87, 18, 0.897) ;
}


/* --------------------- Mise en forme du tableau des oeuvres --------------------- */
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;

}

th, td {
  padding: 1em;
  background: var(--vert_opcacity_faible);
  border-bottom: 2px solid var(--background);
  text-align: center;
}
/* --------------------- Fin du tableau --------------------- */


.liste_oeuvres{
  margin-top: 30px;
  line-height: 2em;
}

h3{
  font-size: 2em;
}
h4{
  margin-top: 20px;
}

/* ---------------------création de la galerie en tableau ---------------------*/


.galerie_photos{
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 700px;
  z-index: 1;
  
}

.ligne_galerie{
  padding: 1em;
  background:none;
  border-bottom: 0;
  text-align: center;
  z-index: 1;
}

.img_galerie:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.img_galerie{
  max-height: 200px;
  max-width: 200px;
  border: 0;
  margin: 0;
  z-index: 1;
}

/* ---------------------fin de la galerie --------------------- */





/*--------------------- Menu déroulant --------------------- */
/* ce code pour le menu déroulant est adapté du site codeur : 
https://www.codeur.com/tuto/css/creer-menu-deroulant-css/ */

  nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
    /* color: red; */
    /* z-index: 1; */
  }
  
  nav > ul {
    display: flex;
    text-align: center;
    /* box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3); */
    color: var(--color1);
    height: var(--hauteur-menu);
  }
  
  nav ul {
    list-style-type: none;
  }

  nav:hover{
    background-color: var(--header-background);
  }
  
  nav > ul > li {
    background-color: var(--bandeau);
    position: relative;
    height: 100%;
    flex: 1;
  }
  
  /* nav > ul > li:hover > a{
    color: var(--text-color-light);
    background: var(--header-background);
  } */
  
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: var(--color4);
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }
  
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: var(--color1);
  }
  
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }
  
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0);
      border-top: 3px solid #ffffff;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #ffffff;
      box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.3);
    }
  }
  
  .sous-menu > li:hover {
    background-color: var(--color3);
    border-radius: 15px;
  }
  
  .sous-menu > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
    border-radius: 15px;
  }
  
  .sous-menu > li:hover > a {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    opacity: 90%;
  }

/* ---------------------fin du menu déroulant ---------------------*/
